#
# Connection parameters to the EPSG database with HSQL. Developpers should
# copy this file in their home directory and change the path name to their
# database installation directory. Note: the trailing "EPSG" is the database
# name, not a directory name.
#
# This file doesn't need to be distributed in the JAR file. It is
# included here only for maintenance of the EPSG database for HSQL.
#
# Author: Martin Desruisseaux
# Revision: $Id$
#

urlid EPSG
url jdbc:hsqldb:file:/tmp/Geotools/Cached databases/EPSG
username Geotools
password Geotools

urlid EPSG-admin
url jdbc:hsqldb:file:/tmp/Geotools/Cached databases/EPSG
username sa
password
